<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label style="display: block;">Descrição</label>
      <input pInputText type="text" style="width: 100%;">
    </div>
    <div class="ui-g-12">
      <label style="display: block;">Vencimento</label>
      <input pInputText type="text" style="width: 95px;">

      <label for="">Até</label>
      <input pInputText type="text" style="width: 95px;">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit">Pesquisar</button>
    </div>

  </div>
</div>
<!--
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div>
          <div class="font-medium text-3xl text-900">Lançamentos</div>
          <div class="flex align-items-center text-700 flex-wrap">
          </div>
      </div>

      <div class="mt-3 lg:mt-0">
          <button pButton pRipple label="Add" class="p-button-outlined mr-2" icon="pi pi-user-plus"></button>
          <button pButton pRipple label="Save" icon="pi pi-check"></button>
      </div>
  </div>
</div>
-->
